/* move special fonts to HTML head for better performance */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

/* custom template */
html, body {
  align-items: center;
  justify-content: center;
  height: 100% font-family: 'Open Sans', arial, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #FFE333;
}

h1, h2 {
  color: Black;
  text-align: center;
}

.r {
  color: Red;
}

.b {
  color: Blue;
}

.form-control {
  border-radius: 50%;
  object-fit: cover;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  border-radius: 30%;
  object-fit: cover;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
